@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);

/* Variables */

:root {
  --light: #f9f9f9;
  --light-hover: #e0e0e0;
  --gray: #959595;
  --dark: #191919;
  --primary: #4361ee;
  --primary-light: #8ea0f5;
  --primary-light-rgb: 42, 160, 245;
  --primary-hover: #6981f1;
  --bg: var(--light);
  --color: var(--dark);
}

/* Reset */

*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  background: var(--bg);
  color: var(--color);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}